.grid {
    border-collapse: collapse;
}

.cell {
    height:50px;
    width:50px;
    border:0.5px solid black;
    display:inline-block;

    background: linear-gradient(to left top, #99ffff, #00ccff);
}

.columnHeader, .rowHeader {
    line-height: 50px;
    height:50px;
    width:50px;
    border:0.5px solid black;
    display:inline-block;
    background-color: #008000;
    color: white;
    text-align: center;
}

.hasShip {
    background: black;
}