.grids {
	display: flex;
	flex-direction: row;
}

.grid {
    border-collapse: collapse;
    width: 484px;
}

.cell {
    height:40px;
    width:40px;
    border:0.5px solid #0b3003;
    display:inline-block;
    background: black;
}

.columnHeader, .rowHeader {
    line-height: 40px;
    height:40px;
    width:40px;
    border:0.5px solid black;
    display:inline-block;
    background-color: #8df776;
    color: black;
    text-align: center;
}

.playerInfo {
    width: 484px;
    display: flex;
    flex-direction; row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.hasShip {
    background: #7ff12a;
}

.hasSalvo {
	background: #66e0ff;
}

.hasHit {
	background: red;
}

.shipsList {
	list-style: none;
	padding: 0;
}

.shipBlock {
	background: #7ff12a;
	height: 40px;
}

.shipPlaced {
	background: #8b9287;
}

.scan {
    width: 484px;
    height: 80px;
    background: linear-gradient(rgba(0,0,0,0),#7ff12a);
    position: absolute;
    animation: scan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    top: -85px;
    z-index: 99;
    opacity: 0.25;
}

@keyframes scan{
  0{top:-80px;}
  70%{top:600px;}
  100%{top:600px;}
}